body{
    background-color: rgb(220, 239, 255);
    margin: 0;
}

a{
    text-decoration: none;
    color: rgb(85, 167, 235);
}
a:hover{
    color: rgb(28, 125, 204);
    font-weight: bold;
}
.menu-item{
    color: grey;
}
.menu-item:hover{
    color: rgb(28, 125, 204);
    font-weight: bold;
}
.menu-item:hover a{
    color: rgb(28, 125, 204);
    font-weight: bold;
}
.menu-item .title{
    color: rgb(85, 167, 235);
}

/* sidebar css */
.sidebar{
    width: 200px;
    height: 100%;
    position: fixed;
    padding: 40px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}
.user-container{
    display: flex;
    align-items: center;
}
.avatar{
    height: 40px;
    width: 40px;
    background-color: aqua;
    border-radius: 100px;
    margin-right: 8px;
}
.user-name{
    font-size: 13pt;
    font-weight: bold;
}
.user-title{
    font-size: 10pt;
    color: grey;
}
.menu-container{
    margin-top: 20px;
    border-top: 1px solid rgb(235, 235, 235);
    padding-top: 20px;
}
.menu-item{
    margin-top: 20px;
    display: flex;
    align-content: center;
    justify-content: space-between;
}
#buatkelas:hover{
    cursor: pointer;
}
#buatkelasatas{
    margin-top: 5px;
    font-size: 20pt;
    width: 180px;
    color: white;
    display: flex;
    align-items: center;
    background-color: #52bff1;
    padding: 2px 5px 2px 5px;
    border-radius: 5px;
}
#buatkelasatas:hover{
    font-weight: bold;
    cursor: pointer;
}
/* end of side bar */

/* content css */
.content-container{
    margin-left: 280px;
    width: 81%;
    padding: 35px;
}
.menu-content-container{
    display: flex;
    justify-content: space-between;
}
.menu-content1{
    width: 450px;
    height: 200px;
    border-radius: 15px;
    background-color: rgb(252, 204, 245);
    background-image: url('../image/circle-element.png'), linear-gradient(to right,#cf9efd, #9848e2);
    background-repeat: no-repeat;
    background-position: right;
    padding: 20px;
    align-items: center;
    justify-content: left;
}
.menu-content2{
    width: 450px;
    height: 200px;
    border-radius: 15px;
    background-color: rgb(252, 204, 245);
    background-image: url('../image/circle-element.png'), linear-gradient(to right,#52bff1, #0f6c97);
    background-repeat: no-repeat;
    background-position: right;
    padding: 20px;
    align-items: center;
    justify-content: left;
}
.menu-content3{
    width: 450px;
    height: 200px;
    border-radius: 15px;
    background-color: rgb(252, 204, 245);
    background-image: url('../image/circle-element.png'), linear-gradient(to right,#fdbb57, #bd6f16);
    background-repeat: no-repeat;
    background-position: right;
    padding: 20px;
    align-items: center;
    justify-content: left;
}
.title-menu{
    margin-top: 50px;
    font-size: 15pt;
    color: white;
}
.data-menu{
    margin-top: 5px;
    font-size: 20pt;
    color: white;
}
.detail-menu a{
    color: white;
}
.data-menu a{
    color: white;
    background-color: #52bff1;
    padding: 2px 5px 2px 5px;
    border-radius: 5px;
}
.data-menu3{
    margin-top: 5px;
    font-size: 20pt;
    width: 180px;
    color: white;
    display: flex;
    align-items: center;
    background-color: #fdbb57;
    padding: 2px 5px 2px 5px;
    border-radius: 5px;
}
.data-menu3 a{
    color: white;
}
.list-kelas-container{
    margin-top: 30px;
    border-radius: 15px;
    background-color: white;
    padding: 20px;
}
.title-list{
    display: flex;
    width: fit-content;
    align-items: center;
    padding-left: 10px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    background-color: rgba(255, 0, 0, 0.068);
}
.title-text{
    margin-left: 5px;
    color: red;
    font-size: 10pt;
}
table{
    margin-top: 20px;
    padding-top: 20px;
    width: 100%;
    border-top: 1px solid rgba(128, 128, 128, 0.178);
}
th{
    text-align: left;
    color: grey;
}
/* end of content */

/* class modal css */

.buatkelas-modal{
    top: 0;
    z-index: 2;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.432);
    overflow-y: auto;
}
.buatkelas-modal::-webkit-scrollbar{
    display: none;
}
.close-button-container{
    display: flex;
    align-items: center;
    justify-content: end;
    color: white;
    padding-top: 10px;
    padding-right: 20px;
}
.close-button-container .material-symbols-outlined{
    padding: 5px;
}
.close-button{
    padding-top: 15px;
    padding-right: 10px;
}
.close-button:hover{
    border-radius: 15px;
    cursor: pointer;
}
.create-class-container{
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 20px;
    max-width: 480px;
    text-align: center;
    padding: 20px;
    border-radius: 25px;
    background-color: white;
}
.create-title{
    margin-top: 10px;
    font-size: 14pt;
    font-weight: bold;
}
.form-input-container{
    margin-top: 30px;
}
.form-input-container input{
    width: 90%;
    height: 45px;
    border: 1px solid rgba(128, 128, 128, 0.377);
    background-color: white;
    margin-top: 5px;
    border-radius: 15px;
    padding-left: 20px;
}
.form-input-container .upload-file{
    border: none;
}
.check-quiz{
    margin-top: 10px;
    padding-left: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
}
#checkbox{
    margin-right: 10px;
}
label{
    margin-top: 2px;
}
.check-quiz input{
    height: 15px;
    width: 15px;
}
label{
    font-size: 10pt;
}
.quiz-title{
    font-size: 14pt;
    margin-top: 30px;
    font-weight: bold;
}
.quiz-subtitle{
    font-size: 10pt;
    margin-bottom: 20px;
}
.form-input-quiz{
    margin: 0 auto;
    max-width: 480px;
    background-color: white;
    margin-top: 10px;
    text-align: center;
    padding: 20px;
    border-radius: 25px;
    margin-bottom: 20px;
}
span{
    margin-top: 5px;
}
.pertanyaan{
    margin-top: 5px;
    background-color: rgb(230, 230, 230);
    border: none;
    border-radius: 15px;
    height: 50px;
    padding-left: 20px;
    width: 90%;
}
.input-jawaban{
    margin-top: 5px;
    padding-left: 20px;
    border-radius: 15px;
    border: none;
    background-color: rgb(230, 230, 230);
    height: 50px;
    margin-left: 5px;
    width: 37%;
}
.create-btn{
    margin-top: 20px;
    height: 40px;
    width: 130px;
    border: none;
    background-color: rgb(127, 225, 255);
    border-radius: 10px;
}
.create-btn:hover{
    cursor: pointer;
    color: white;
    background-color: rgb(66, 183, 219);
}
input:hover{
    background-color: #0f6f9ba1;
    color: white;
}
input:focus::placeholder{
    color: white;
}
input:focus{
    background-color: #0f6f9ba1;
    color: white;
}
input:hover::placeholder{
    color: white;
}
button{
    border: none;
    padding: 5px;
}
button:hover{
    background-color: aquamarine;
    cursor: pointer;
}
hr{
    margin-top: 20px;
    opacity: 0.3;
    width: 50%;
}
.pilih-kelas{
    height: 50px;
    border: 1px solid rgba(128, 128, 128, 0.377);
    background-color: white;
    margin-top: 5px;
    padding: 15px;
    width: 95%;
    border-radius: 15px;
    color: grey;
}
.form-button{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

@media screen and (max-width: 500px) {
    .input-jawaban{
        width: 33%;
    }
}
