
body{
    background-color: rgb(240, 240, 240);
}
.sidebar{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    width: 200px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: transparent;
    overflow-x: hidden;
}
.sidebar-title{
    font-weight: bold;
    font-size: 18pt;
    font-family: 'Poppins-Bold';
    color: rgb(46, 41, 72);
}
.sidebar-subtitle{
    margin-top: -10px;
    font-size: 10pt;
    color: rgb(194, 39, 124);
}
.sidebar-menu-container{
    margin-top: 30px;
}
.menu-container{
    margin-bottom: 10px;
    display: flex;
    padding: 5px;
    border-radius: 10px;
}
.menu-logo-container{
    width: 20%;
}
.menu-logo{
    text-align: center;
    height: 25px;
    width: 25px;
    color: grey;
}
.menu-title{
    width: 80%;
    color: grey;
}
a{
    text-decoration: none;
    color: rgb(69, 61, 110);
}
.menu-container:hover{
    background-color: grey;
}
.menu-container:hover .menu-logo{
    color: white;
}
.menu-container:hover a{
    color: white;
}
.mapel-title-container{
    margin-top: 30px;
    font-family: 'Poppins-Bold';
    font-weight: bold;
    color: rgb(46, 41, 72);
    margin-bottom: 10px;
}
.mapel-title{
    font-weight: bold;
    font-size: 15pt;
}
.mapel-container{
    margin-top: 10px;
    background-color: white;
    padding: 10px;
    width: 88%;
    border-radius: 20px;
    overflow:hidden;
    display:inline-block;
}
.mapel-logo{
    height: 40px;
    width: 40px;
    /* background-color: rgb(221, 105, 182); */
    border-radius: 15px;
    float: left;
}
.mapel-detail-container{
    padding-top: 3px;
    margin-left: 50px;
}
.nama-mapel{
    font-size: 10pt;
    font-weight: bold;
    color: rgb(69, 61, 110);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.nama-mapel:hover{
    white-space: unset;
    text-overflow: unset;
}
.mapel-guru{
    font-size: 8pt;
    color: grey;
}
.content-container{
    margin-left: 250px;
    padding: 30px;
    border-radius: 30px;
    background-color: rgb(247, 249, 255);
    height: 100vh;
    display: flex;
}
.content{
    width: 75%;
}
.content-kanan{
    width: 25%;
    padding-left: 30px;
}
.topbar-kanan-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.topbar-profile{
    margin-left: 15px;
    height: 40px;
    width: 40px;
    border-radius: 100px;
    background-color: aquamarine;
}
.scrollable-container{
    margin-top: 50px;
}
.daring-header{
    font-weight: bold;
    color: rgb(69, 61, 110);
}
.daring-parent-container{
    margin-top: 15px;
    padding: 5px;
    background-color: white;
    display: inline-block;
    border-radius: 15px;
}
.daring-detail-container{
    padding: 20px;
    border-radius: 15px;
    display: flex;
}
.daring-parent-container:hover{
    background-color: rgb(207, 252, 237);
}
.daring-logo-container{
    height: 40px;
    width: 40px;
    border-radius: 15px;
    /* background-color: rgb(255, 127, 202); */
    margin-right: 20px;
}
.judul-daring{
    font-weight: bold;
    font-size: 14pt;
}
.forum-status-online{
    font-size: 9pt;
    padding: 2px 10px 2px 10px;
    background-color: aquamarine;
    border-radius: 15px;
}
.forum-status-offline{
    font-size: 9pt;
    padding: 2px 10px 2px 10px;
    background-color: rgb(255, 58, 58);
    border-radius: 15px;
    color: white;
}
.deskripsi-daring{
    font-size: 11pt;
    color: grey;
}
.nama-guru{
    font-size: 10pt;
    color: grey;
}
#calendar{
    width: 400px;
    height: 300px;
}
.online-header{
    margin-top: 40px;
    font-family: 'Poppins-Bold';
    color: rgb(66, 155, 106);
}
.online-container{
    margin-top: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    font-size: 11pt;
    max-height: 500px;
}