body{
    background-color: white;
    margin: 0;
    overflow: hidden;
}

/* content container css */
.welcome-container{
    display: flex;
}
.welcome-image{
    height: 100vh;
}

.login-container{
    text-align: center;
    width: 100%;
}
.title{
    margin-top: 200px;
    font-family: 'Poppins-Bold';
    color: grey;
    font-size: 2.7em;
}
.subtitle{
    color: rgba(128, 128, 128, 0.692);
    font-size: 1em;
}
.input-container{
    margin-top: 20px;
}
input{
    border: 1px solid rgba(128, 128, 128, 0.589);
    border-radius: 100px;
    margin-top: 20px;
    width: 400px;
    padding: 20px;
}
input:hover{
    background-color: rgb(220, 242, 250);
}
input:focus{
    background-color: rgb(220, 242, 250);
}
input[type=submit]{
    border: none;
    background-color: rgb(220, 242, 250);
}
input[type=submit]:hover{
    cursor: pointer;
    color: white;
    background-color: rgb(92, 132, 146);
}
a{
    text-decoration: none;
    color: rgb(92, 132, 146);
}
.notice-text{
    color: rgba(128, 128, 128, 0.719);
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}
/* end of content container */

@media screen and (max-width: 500px) {
    .welcome-image-container{
        display: none;
    }
    .logo{
        display: none;
    }
    .title{
        margin-top: 100px;
        font-size: 2em;
    }
    .subtitle{
        font-size: 0.8em;
    }
    input{
        width: 300px;
    }
    .notice-text{
        font-size: 0.8em;
    }
}