body{
    background-color: rgb(232, 236, 248);
    margin: 0 auto;
}
body::-webkit-scrollbar {
    display: none;
}
/* navbar css */
.navbar{
    margin: 0 auto;
    position: absolute;
    width: 100%;
    padding: 15px;
    color: grey;
}
.back-btn{
    font-size: 15pt;
    background-color: cadetblue;
    padding: 5px 20px 5px 20px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-size: 12pt;
}
.back-btn:hover{
    background-color: rgb(139, 207, 209);
}
.title{
    font-size: 15pt;
}
/* end of navbar */
/* page header css */
.page-header{
    text-align: center;
    padding: 105px 85px 55px 85px;
}
.judul-forum{
    font-size: 18pt;
    font-weight: bold;
}
/* end of page header */
/* main post css */

.main-post-container{
    padding: 15px;
    margin-left: 200px;
    margin-right: 200px;
}
.post-container{
    background-color: white;
    padding: 20px;
    border-radius: 15px;
}
.post-header-container{
    display: flex;
    align-items: center;
}
.avatar{
    height: 40px;
    width: 40px;
    background-color: bisque;
    border-radius: 100px;
    margin-right: 15px;
}
.topic{
    font-weight: bold;
    color: grey;
}
.user{
    font-size: 10pt;
    color: grey;
}
.message-container{
    margin-top: 10px;
}
.reply-button-container{
    border-top: 1px solid rgba(128, 128, 128, 0.164);
    text-align: right;
    margin-top: 20px;
    padding-top: 20px;
}
.reply-btn{
    border: none;
    height: 35px;
    width: fit-content;
    border-radius: 5px;
}
.reply-btn:hover{
    cursor: pointer;
    background-color: #f0f0f0;
}
.reply-btn2{
    border: none;
    height: 35px;
    width: fit-content;
    border-radius: 5px;
}
.reply-btn2:hover{
    cursor: pointer;
    background-color: #f0f0f0;
}
.reply-container{
    display: none;
    padding-right: 19px;
    padding-top: 10px;
}
#input-pesan{
    width: 100%;
    resize: none;
    height: 100px;
    border: none;
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.116);
    padding: 10px;
}
.upload-container{
    margin-top: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.file-btn{
    font-size: 10pt;
    padding: 8px;
    background-color: rgb(235, 235, 235);
    border-radius: 5px;
}
.file-btn:hover{
    cursor: pointer;
    background-color: aquamarine;
}
.file-name{
    margin-left: 10px;
    font-size: 10pt;
    color: grey;
}
.kirim-button-container{
    margin-top: 10px;
    text-align: left;
}
#kirim-btn{
    border: none;
    height: 35px;
    width: 80px;
    border-radius: 5px;
}
#kirim-btn:hover{
    cursor: pointer;
    background-color: aquamarine;
}
/* end of main post css */
/* footer css */
.footer{
    text-align: center;
    color: grey;
    padding: 10px;
}
/* end of footer */

@media screen and (max-width: 1024px) {
    .main-post-container{
        padding: 15px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .avatar{
        display: none;
    }
    .topic{
        font-size: 9pt;
        font-weight: bold;
        color: grey;
    }
    .user{
        font-size: 10pt;
        color: grey;
    }
    .message-container{
        font-size: 10pt;
        margin-top: 10px;
    }
    .message-container img{
        width: 50%;
    }
    .page-header{
        text-align: center;
        padding: 85px 35px 35px 35px;
    }
}