@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: 'Poppins-Bold';
    src: url(../fonts/Poppins-Bold.ttf);
}
body{
    margin: 0;
    font-family: 'Poppins';
    background-color: white;
    overflow: hidden;
}

.content-container{
    display: flex;
    padding: 80px 60px 60px 60px;
}

.forum-container{
    margin-right: 80px;
}
.forum-create-btn{
    font-size: 0.9em;
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: 0px 5px 10px rgba(164, 178, 191, 0.256);;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(164, 178, 191, 0.464);
    color: rgb(92, 119, 144);
    background-color: rgb(224, 242, 245);
}

.forum-card-container{
    margin-top: 40px;
    padding: 5px;
    color: rgb(61, 78, 94);
    height: 75vh;
    overflow-y: scroll;
}
.forum-card{
    border: 1px solid rgba(164, 178, 191, 0.464);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 5px 10px rgba(164, 178, 191, 0.256);
    margin-bottom: 30px;
}
.forum-card-section1{
    display: flex;
    align-items: flex-start;
    gap: 20px;
}
.forum-card-avatar{
    height: 50px;
    width: 50px;
    border-radius: 10px;
    background-color: aquamarine;
    /* background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0dMfu5Q3l0jk5BBkwxTLQSsQqnl4N_JjhHx_pZT0qV_AaKzmlSbaKK4E9elFGlHP4bAA&usqp=CAU); */
    background-size: cover;
    background-repeat: no-repeat;
}
.forum-card-detail{

}
.forum-card-title{
    font-weight: bold;
    font-size: 1.3em;
}
.forum-card-created{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 20px;
}
.forum-card-desc{
    font-size: 11pt;
}
.forum-card-class span{
    font-size: 11pt;
}
.forum-card-created span{
    font-size: 10pt;
}
.forum-card-comment{
    display: flex;
    align-items: center;
    gap: 10px;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.forum-card-container::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.forum-card-container {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.forum-card-section2{
    margin-top: 20px;
    text-align: right;
}
.forum-card-section2 button{
    border: none;
    padding: 3px 10px 3px 10px;
    border-radius: 5px;
    margin-left: 5px;
}
.close{
    background-color: rgb(255, 146, 146);
    color: white;
}
.edit{
    background-color: rgb(67, 158, 158);
    color: white;
}
.forum-card-status{
    margin-top: 7px;
    margin-bottom: 10px;
}
.statuses{
    background-color: rgb(160, 253, 222);
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 10px;
    font-size: 10pt;
    border-radius: 100px;
}







.online-user-container{
    width: 20%;
    display: block; 
    padding-left: 30px;
    padding-right: 30px;
}
.report-button{
    background-color: rgb(36, 149, 235);
    color: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}
.additional-menu{
    margin-top: 30px;
}
.additional-menu a{
    text-decoration: none;
    color: rgb(36, 149, 235);
}
.menu-detail{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
hr{
    margin-top: 30px;
    margin-bottom: 40px;
    border: 1px solid rgba(128, 128, 128, 0.144);
}
.online-title{
    font-family: 'Poppins-Bold';
    color: rgb(151, 202, 241);
    margin-bottom: 20px;
}
.online-user{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}
.online-user-avatar{
    height: 25px;
    width: 25px;
    background-color: rgb(114, 235, 156);
    border-radius: 100px;
}
.online-user-nickname{
    color: rgb(25, 83, 128);
}
#buatkelas:hover{
    cursor: pointer;
}


/* class modal css */

.buatkelas-modal{
    top: 0;
    z-index: 2;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.432);
    overflow-y: auto;
}
.buatkelas-modal::-webkit-scrollbar{
    display: none;
}
.close-button-container{
    display: flex;
    align-items: center;
    justify-content: end;
    color: white;
    padding-top: 10px;
    padding-right: 20px;
}
.close-button-container .material-symbols-outlined{
    padding: 5px;
}
.close-button{
    padding-top: 15px;
    padding-right: 10px;
}
.close-button:hover{
    border-radius: 15px;
    cursor: pointer;
}
.create-class-container{
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 20px;
    max-width: 480px;
    text-align: center;
    padding: 20px;
    border-radius: 25px;
    background-color: white;
}
.create-title{
    margin-top: 10px;
    font-size: 14pt;
    font-weight: bold;
}
.form-input-container{
    margin-top: 30px;
}
.form-input-container input{
    width: 90%;
    height: 45px;
    border: 1px solid rgba(128, 128, 128, 0.377);
    background-color: white;
    margin-top: 5px;
    border-radius: 15px;
    padding-left: 20px;
}
.form-input-container .upload-file{
    border: none;
}
.check-quiz{
    margin-top: 10px;
    padding-left: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
}
#checkbox{
    margin-right: 10px;
}
label{
    margin-top: 2px;
}
.check-quiz input{
    height: 15px;
    width: 15px;
}
label{
    font-size: 10pt;
}
.quiz-title{
    font-size: 14pt;
    margin-top: 30px;
    font-weight: bold;
}
.quiz-subtitle{
    font-size: 10pt;
    margin-bottom: 20px;
}
.form-input-quiz{
    margin: 0 auto;
    max-width: 480px;
    background-color: white;
    margin-top: 10px;
    text-align: center;
    padding: 20px;
    border-radius: 25px;
    margin-bottom: 20px;
}
.bustkelas-modal span{
    margin-top: 5px;
}
.pertanyaan{
    margin-top: 5px;
    background-color: rgb(230, 230, 230);
    border: none;
    border-radius: 15px;
    height: 50px;
    padding-left: 20px;
    width: 90%;
}
.input-jawaban{
    margin-top: 5px;
    padding-left: 20px;
    border-radius: 15px;
    border: none;
    background-color: rgb(230, 230, 230);
    height: 50px;
    margin-left: 5px;
    width: 37%;
}
.create-btn{
    margin-top: 20px;
    height: 40px;
    width: 130px;
    border: none;
    background-color: rgb(127, 225, 255);
    border-radius: 10px;
}
.create-btn:hover{
    cursor: pointer;
    color: white;
    background-color: rgb(66, 183, 219);
}
input:hover{
    background-color: #0f6f9ba1;
    color: white;
}
input:focus::placeholder{
    color: white;
}
input:focus{
    background-color: #0f6f9ba1;
    color: white;
}
input:hover::placeholder{
    color: white;
}
button{
    border: none;
    padding: 5px;
}
button:hover{
    background-color: aquamarine;
    cursor: pointer;
}
hr{
    margin-top: 20px;
    opacity: 0.3;
    width: 50%;
}
.pilih-kelas{
    height: 50px;
    border: 1px solid rgba(128, 128, 128, 0.377);
    background-color: white;
    margin-top: 5px;
    padding: 15px;
    width: 95%;
    border-radius: 15px;
    color: grey;
}
.form-button{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


/* Hide scrollbar for Chrome, Safari and Opera */
.content-table::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.content-table {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}