body{
    background-color: rgba(128, 128, 128, 0.11);
    margin: 0;
}

.web-container{
    display: flex;
}

/* sidebar css */
.sidebar-container{
    width: 120px;
    text-align: center;
    position: fixed;
    height: 100vh;
    background-color: white;
    /* box-shadow: 3px 3px 20px rgba(128, 128, 128, 0.158); */
}
.icon{
    margin: 30px;
    border-radius: 20px;
    margin-top: 100px;
    padding: 15px 15px 10px 15px;
    color: #3A8099;
}
.icon:hover{
    background-color: #3A8099;
    color: white;
    cursor: pointer;
}
.active{
    background-color: #3A8099;
    color: white;
}
/* end of sidebar */




/* content css */
.content-container{
    margin-top: 40px;
    margin-left: 160px;
}
/* end of content css */


/* class header css */

.header-container{
    display: flex;
    width: 88vw;
    justify-content: space-between;
    align-items: center;
}
.header-title{
    font-size: 1.5em;
    font-family: 'Poppins-Bold';
    color: #012330;
}
.user-container{
    text-align: right;
}
.username{
    font-weight: bold;
    color: #012330;
    font-size: 1.1em;
}
.responsibility{
    color: #012330;
}

/* end of class header */


/* class body container css */
.body-container{
    display: flex;
}
.body-left{
    min-width: 60vw;
    padding-top: 40px;
}
.body-right{
    width: 100%;
    padding-top: 40px;
    display: flex;
    justify-content: right;
}
.card-container{
    display: flex;
}
.card-left{
    position: relative;
    background-color: #00A7A3;
    padding: 20px 20px 30px 20px;
    border-radius: 15px;
    min-width: 350px;
    max-width: 350px;
    margin-right: 20px;
    box-shadow: 0px 10px 10px rgba(128, 128, 128, 0.205);
}
.card-right{
    background-color: white;
    padding: 20px 20px 30px 20px;
    border-radius: 15px;
    min-width: 350px;
    max-width: 350px;
    box-shadow: 0px 10px 10px rgba(128, 128, 128, 0.205);
    position: relative;
}
.card-title{
    font-family: 'Poppins-Bold';
    font-size: 1.5em;
    color: white;
}
.card-subtitle{
    font-size: 0.9em;
    color: white;
}
.element{
    position: absolute;
    color: white;
    text-align: right;
    bottom: 0;
    right: 15px;
}
.element2{
    position: absolute;
    color: #012330;
    text-align: right;
    bottom: 0;
    right: 15px;
}
.card-title2{
    font-family: 'Poppins-Bold';
    font-size: 1.5em;
    color: #012330;
}
.card-subtitle2{
    font-size: 0.9em;
    color: #012330;
}

.forum-list-container{
    margin-top: 30px;
}
.list-container-title{
    font-family: 'Poppins-Bold';
    color: #012330;
    font-size: 1.5em;
}
.list-container-subtitle{
    color: #012330;
}
.list-forum{
    margin-top: 20px;
}

.forum-card{
    margin-bottom: 10px;
    background-color: white;
    padding: 30px;
    border-radius: 20px;
}
.forum-card a{
    text-decoration: none;
}
.title-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.forum-title, a{
    font-family: 'Poppins-Bold';
    color: #012330e5;
    font-size: 1.1em;
}
.edit-btn{
    border-radius: 25px;
    padding: 5px 15px 5px 15px;
    background-color: #012330;
    font-size: 8pt;
    color: white;
}
.quiz-btn{
    padding-left: 15px;
    padding-right: 15px;
}
.forum-desc{
    color: grey;
}
.last-username{
    margin-top: 20px;
    font-size: 10pt;
    color: grey;
}
.status{
    padding: 2px 10px 2px 10px;
    border-radius: 100px;
    color: white;
    font-size: 8pt;
    background-color: #00A7A3;
}
.closed{
    background-color: rgb(179, 25, 25);
}
.date-created{
    font-size: 10pt;
    color: grey;
}

.online-user-container{
    /* position: fixed; */
    max-width: 400px;
    padding: 20px;
    border-radius: 25px;
    height: 80vh;
    background-color: #3A8099;
    color: white;
}
.online-title{
    font-family: 'Poppins-Bold';
    font-size: 1.4em;
}







/* class modal css */

.buatkelas-modal{
    top: 0;
    z-index: 2;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.432);
    overflow-y: auto;
}
.buatkelas-modal::-webkit-scrollbar{
    display: none;
}
.close-button-container{
    display: flex;
    align-items: center;
    justify-content: end;
    color: white;
    padding-top: 10px;
    padding-right: 20px;
}
.close-button-container .material-symbols-outlined{
    padding: 5px;
}
.close-button{
    padding-top: 15px;
    padding-right: 10px;
}
.close-button:hover{
    border-radius: 15px;
    cursor: pointer;
}
.create-class-container{
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 20px;
    max-width: 480px;
    text-align: center;
    padding: 20px;
    border-radius: 25px;
    background-color: white;
}
.create-title{
    margin-top: 10px;
    font-size: 14pt;
    font-weight: bold;
}
.form-input-container{
    margin-top: 30px;
}
.form-input-container input{
    width: 90%;
    height: 45px;
    border: 1px solid rgba(128, 128, 128, 0.377);
    background-color: white;
    margin-top: 5px;
    border-radius: 15px;
    padding-left: 20px;
}
.form-input-container .upload-file{
    border: none;
}
.check-quiz{
    margin-top: 10px;
    padding-left: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
}
#checkbox{
    margin-right: 10px;
}
label{
    margin-top: 2px;
}
.check-quiz input{
    height: 15px;
    width: 15px;
}
label{
    font-size: 10pt;
}
.quiz-title{
    font-size: 14pt;
    margin-top: 30px;
    font-weight: bold;
}
.quiz-subtitle{
    font-size: 10pt;
    margin-bottom: 20px;
}
.form-input-quiz{
    margin: 0 auto;
    max-width: 480px;
    background-color: white;
    margin-top: 10px;
    text-align: center;
    padding: 20px;
    border-radius: 25px;
    margin-bottom: 20px;
}
.bustkelas-modal span{
    margin-top: 5px;
}
.pertanyaan{
    margin-top: 5px;
    background-color: rgb(230, 230, 230);
    border: none;
    border-radius: 15px;
    height: 50px;
    padding-left: 20px;
    width: 90%;
}
.input-jawaban{
    margin-top: 5px;
    padding-left: 20px;
    border-radius: 15px;
    border: none;
    background-color: rgb(230, 230, 230);
    height: 50px;
    margin-left: 5px;
    width: 37%;
}
.create-btn{
    margin-top: 20px;
    height: 40px;
    width: 130px;
    border: none;
    background-color: rgb(127, 225, 255);
    border-radius: 10px;
}
.create-btn:hover{
    cursor: pointer;
    color: white;
    background-color: rgb(66, 183, 219);
}
input:hover{
    background-color: #0f6f9ba1;
    color: white;
}
input:focus::placeholder{
    color: white;
}
input:focus{
    background-color: #0f6f9ba1;
    color: white;
}
input:hover::placeholder{
    color: white;
}
button{
    border: none;
    padding: 5px;
}
button:hover{
    background-color: aquamarine;
    cursor: pointer;
}
hr{
    margin-top: 20px;
    opacity: 0.3;
    width: 50%;
}
.pilih-kelas{
    height: 50px;
    border: 1px solid rgba(128, 128, 128, 0.377);
    background-color: white;
    margin-top: 5px;
    padding: 15px;
    width: 95%;
    border-radius: 15px;
    color: grey;
}
.form-button{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}